<mat-card>
  <mat-card-header>
    <mat-card-title>{{ product.title | uppercase }}</mat-card-title>
    <mat-card-subtitle>{{ product.price | currency }}</mat-card-subtitle>
  </mat-card-header>
	<div class="crop-image">
		<img [src]="product.image" alt="Product Image" />
	</div>
  <mat-card-content>
    <p>{{ product.description | slice: 0:10 }}</p>
  </mat-card-content>
  <mat-card-actions>
    <button type="button" (click)="addCart()" mat-stroked-button>
      Agregar al carrito
    </button>
    <a [routerLink]="['/products', product.id]" mat-stroked-button>Ver detalle</a>
  </mat-card-actions>
</mat-card>
