<form [formGroup]="form" (ngSubmit)="saveOrUpdateProduct($event)">
  <mat-card>
    <mat-card-header>
      <mat-card-title>Producto</mat-card-title>
    </mat-card-header>
    <mat-card-content>
      <div class="row">
        <div class="col-xs"></div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input type="text" matInput formControlName="title" placeholder="Title" />
						<mat-error *ngIf="titleField.touched && titleField.invalid">
							<ng-container *ngIf="titleField.hasError('required')">El título es requerido</ng-container>
						</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
            <input type="number" matInput formControlName="price" placeholder="Price" />
						<mat-error *ngIf="priceField.touched && priceField.invalid">
							<ng-container *ngIf="priceField.hasError('required')">El precio es requerido</ng-container>
							<ng-container *ngIf="priceField.hasError('price_invalid')">No te debes pasar de 10.000</ng-container>
						</mat-error>
          </mat-form-field>
        </div>
      </div>
      <div class="row">
        <div class="col-xs">
          <mat-form-field>
						<textarea matInput formControlName="description" placeholder="Description" rows="10"></textarea>
						<mat-error *ngIf="descriptionField.touched && descriptionField.invalid">
							<ng-container *ngIf="descriptionField.hasError('required')">La descripción es requerida</ng-container>
						</mat-error>
          </mat-form-field>
        </div>
      </div>
			<div class="row">
				<div class="col-xs">
					<input type="file" (change)="uploadFile($event)" />
					<br/>
					<img *ngIf="imageField.value" [src]="imageField.value" alt="La imagen" />
				</div>
			</div>
    </mat-card-content>
		<mat-card-actions>
			<button type="submit" mat-raised-button color="primary">Guardar</button>
			<a routerLink="/admin/products" mat-raised-button>Cancelar</a>
		</mat-card-actions>
  </mat-card>
</form>
